.background {
  position: absolute;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: block;
}

.top {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.background-button {
  padding: 1rem 1rem;
}

.credits {
  color: azure;
  padding-right: 1.5rem;
}

.credits a {
  color: azure;
}