.background {
  position: absolute;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: block;
}

.background-button {
  position: absolute;
  padding: 1rem 1rem;
}

.credits {
  color: azure;
  position: absolute;
  right: 0;
  padding-right: 1rem;
}

.credits a {
  color: azure;
}